.custom-button{
    border: 0px solid #000;
    background-color: rgba(255, 255, 255, 0.75);
    color: #000 !important;
    font-size: 14px !important;
    padding: 14px 30px;
    letter-spacing: 2px;
    width: 170px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Oswald' !important;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}