.field-note-container{
    font-family:  'Oswald';
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -36px;
    .field-note-outer{
        display:flex;
        justify-content: space-between;
        margin: 1% 0.54%;
        cursor: pointer;
        
        .field-note-inner-container{
            width: 24.22%;

            .field-note-img {
            transition: .5s ease;
            filter: grayscale(100%);
            z-index: -1;

            }
        
            &:hover .field-note-img{
                filter: grayscale(0%);
            }

            .field-note-content{
                text-align: center;
            }
        }
    }

    .field-note-title{
        background: white;
        padding: 0px 10px;
        font-weight: 500;
        font-size: 1.9em;
    }
}