.banner{
  color: #fff;
  font-family:  'Oswald';
  .inner-banner{
    display:flex;
    align-items: center;
  }
  .header{
    font-weight: 500;
    font-size: 31px;
    margin-left: 200px;
  }
  .sub-header{
    font-weight: lighter;
    font-size:18px !important;
    letter-spacing: 2px;
    margin-left: 200px;
    margin-bottom: 50px;
  }
}