$prime-front: 'Oswald';

.parallax {
  margin-top: 19px;
  background-image: url("//cdn.shopify.com/s/files/1/0150/3760/products/alphaglobeslate.jpg?v=1584587218");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.community-title{
  position: absolute;
  left: 41.5%;
  font-family:  $prime-front;
  color: #fff;
  font-size: 50px;
}
