%center-content {
    align-items: center;
    justify-content: center;
}

.menu-container{
    margin-top: 19px;
    text-align: center;
    display: flex;
    justify-content: space-around;

    .inner-content{
        position: absolute;
        z-index: 1;
    }
    
    
    .inner-menu{
        @extend %center-content;
        display:flex;
        width: (100% / 3.1);
        font-family:  'Oswald';
        color: #fff;
        cursor: pointer;
        
        .menu-img {
            transition: .5s ease;
          filter: grayscale(100%);
          z-index: -1;

        }
        
        &:hover .menu-img{
            filter: grayscale(0%);
        }


        .title{
            font-size: 30px;
            letter-spacing: 2px;
        }

        .inner-menu-link{
            @extend %center-content;
            display: flex;
            color: white;
        }
    }
}